<div class="navbar">
  <div class="container">
    <div class="row ml-1">
      <div><a class="navbar-brand" href="#">ShoutNow</a></div>
      <span>
        <form class="form-inline" action="/action_page.php">
          <i class="fa fa-search icon"></i>
          <i class="fa fa fa-caret-down"></i>
          <input
            class="form-control input-field mr-sm-2"
            type="text"
            placeholder="Search"
          />
        </form>
      </span>
    </div>
    <div class="row text-right mr-1">
      <div class="ml-4 mr-4">
        <a href="#">How It works</a>
      </div>
      <div class="ml-4 mr-4"><a href="#">Log In</a></div>
      <div class="ml-4 mr-4"><a href="#">Sign Up</a></div>
      <div class="ml-4">
        <button class="bg-primary text-white">Post a Job</button>
      </div>
    </div>
  </div>
</div>
